.method {
    gap: .5rem;
    display:flex;
    flex-direction: column;
    padding-bottom: 5%;
    padding-inline: 5%;
   font-family: 'Courier New', Courier, monospace;
}

.input {
    height: fit-content;
    border: 2px solid black;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    padding-bottom: 1%;
    font-size: 1.6vmin;
}

.argument {
    border: 2px solid black;
    overflow-wrap: break-word;
    text-align: center;
    white-space: normal;
    font-size: vmin;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
}

.result {
    height: fit-content;
    border: 2px solid black;
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    font-size: 1.6vmin;
}

button {
    height: 25px;
}

textarea {
    resize: none;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.flex-parent {
    display: flex;
}

.flex-child {
    flex: 1;
}

.page-heading {
    font-family:'Courier New', Courier, monospace;
    padding-left: 5%;
    padding-block: 1%;
    text-align: left;
}